[package]
name = "ad4m-executor"
version = "0.10.0-prerelease"
edition = "2021"
authors = ["Nicolas Luck <nicolas.luck@coasys.org>"]
description = "Runtime implementation of AD4M as library - https://ad4m.dev"
keywords = ["ad4m", "perspect3vism", "cli"]
license = "CAL-1.0"
homepage = "https://ad4m.dev"
repository = "https://github.com/perspect3vism/ad4m"
documentation = "https://docs.ad4m.dev"
readme = "README.md"

include = [
    "src/**/*",
    "dapp/dist", # Symlink to the dapp directory
    "executor/lib/bundle.js", # Symlink to the executor directory
    "build.rs",
    "Cargo.toml"
]

[lib]
name = "rust_executor"
path = "src/lib.rs"

[[bin]]
name = "rust_executor_bin"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
url = { version = "2.4.1", features = ["expose_internals"] }
deno_core = {version = "0.283.0", git = "https://github.com/coasys/deno_core.git", rev = "b2bb94e32c2e94b18279cd1b36e4c198b183c826" }
deno_runtime = {version = "0.162.0", git = "https://github.com/coasys/deno.git", rev = "f339804dd995a04eaacb467b6dcf9a04b21a7b81"}
tokio = { version = "1.25.0", features = ["full"] }
futures = "0.3.28"
tokio-stream = { version = "0.1.12", features = ["sync"] }
lazy_static = "1.4.0"

chrono = { version = "0.4.6", features = ["serde"] }
env_logger = "0.10.0"
serde_json = "1.0.95"
uuid = "1.3.0"
log = "0.4.19"
serde = "1.0.159"
secp256k1 = { version = "0.27.0", features = ["rand", "serde"] }
crypto_box = "0.8.2"
hex = "0.4.3"
argon2 = { version = "0.5.0", features = ["simple"] }
rand = "0.8.5"
base64 = "0.21.0"
clap = { version = "4.0.8", features = ["derive"] }
fs_extra = "1.3.0"
os_info = "3.7.0"
semver = "1.0.17"
did-key = "0.2.1"
zip = {version = "2.1", git = "https://github.com/coasys/zip.git", rev = "b2bb94e32c2e94b18279cd1b36e4c198b183c826"}
multibase = "0.9.1"
multihash = { version = "0.18.0", features = ["sha2"] }
cid = "0.10.1"
once_cell = "1.17.1"
rust-embed="8.0.0"
dirs = "5.0.1"
rocket = "0.5.0"

coasys_juniper = { version="0.16.0", features = ["chrono"] }
coasys_juniper_subscriptions = { version="0.17.0" }
coasys_juniper_graphql_transport_ws = { version="0.4.0" }
coasys_juniper_warp = { version="0.8.0", features = ["subscriptions"] }
warp = "0.3.4"

jsonwebtoken = "8.3.0"

webbrowser = "0.8.12"

# holochain = { version = "0.4.0-dev.11", features = ["test_utils", "default"], git = "https://github.com/coasys/holochain.git", rev = "f5c2ca0e7021e12520f57ec15d383c7708fc4a92" }
# holochain_cli_bundle = { version = "0.4.0-dev.11", git = "https://github.com/coasys/holochain.git", rev = "f5c2ca0e7021e12520f57ec15d383c7708fc4a92" }
# holochain_types = { version = "0.4.0-dev.11", git = "https://github.com/coasys/holochain.git", rev = "f5c2ca0e7021e12520f57ec15d383c7708fc4a92" }
# holochain_cli_run_local_services = { version = "0.4.0-dev.10", git = "https://github.com/coasys/holochain.git", rev = "f5c2ca0e7021e12520f57ec15d383c7708fc4a92" }
# kitsune_p2p_types = { version = "0.4.0-dev.8", git = "https://github.com/coasys/holochain.git", rev = "f5c2ca0e7021e12520f57ec15d383c7708fc4a92" }
# holochain = { version = "0.4.0-dev.11", features = ["test_utils", "default"], path = "../../holochain/crates/holochain" }
# holochain_cli_bundle = { version = "0.4.0-dev.11", path = "../../holochain/crates/hc_bundle" }
# holochain_types = { version = "0.4.0-dev.11", path = "../../holochain/crates/holochain_types" }
# holochain_cli_run_local_services = { version = "0.4.0-dev.10", path = "../../holochain/crates/hc_run_local_services" }
# kitsune_p2p_types = { version = "0.4.0-dev.8", path = "../../holochain/crates/kitsune_p2p/types" }
holochain = { version = "0.4.0-dev.11", features = ["test_utils", "default"], git = "https://github.com/coasys/holochain", rev = "60b035888f15b9989e2852f6399f692fb73f5a7e"}
holochain_cli_bundle = { version = "0.4.0-dev.11", git = "https://github.com/coasys/holochain", rev = "60b035888f15b9989e2852f6399f692fb73f5a7e" }
holochain_types = { version = "0.4.0-dev.11", git = "https://github.com/coasys/holochain", rev = "60b035888f15b9989e2852f6399f692fb73f5a7e" }
holochain_cli_run_local_services = { version = "0.4.0-dev.10", git = "https://github.com/coasys/holochain", rev = "60b035888f15b9989e2852f6399f692fb73f5a7e" }
kitsune_p2p_types = { version = "0.4.0-dev.8", git = "https://github.com/coasys/holochain", rev = "60b035888f15b9989e2852f6399f692fb73f5a7e"}

scryer-prolog = { version = "0.9.4" }
# scryer-prolog = { path = "../../scryer-prolog", features = ["multi_thread"] }

ad4m-client = { path = "../rust-client", version="0.10.0-prerelease" }
reqwest = { version = "0.11.20", features = ["json", "native-tls"] }

rusqlite = { version = "0.29.0", features = ["bundled"] }
fake = { version = "2.9.2", features = ["derive"] }
sha2 = "0.10.8"
regex = "1.5.4"
json5 = "0.4"

include_dir = "0.6.0"
rustls = "0.23"
tokio-rustls = "0.26"
rustls-pemfile = "2"

[dev-dependencies]
maplit = "1.0.2"
lazy_static = "1.4.0"
itertools = "0.10.1"

[build-dependencies]
fs_extra = "1.3.0"
