.cargo
target
hc-dna/workdir/perspective-diff-sync.dna
hc-dna/workdir/perspective-diff-sync.happ
hc-dna/workdir/Perspective-Diff-Sync.happ
hc-dna/zomes/tests/node_modules
hc-dna/zomes/tests/out.log
node_modules
.hc*
perspect-diff-sync.dna
*.log
.turbo

*.js
*.js.map
!rollup.config*
!.dna.js
!integration-test.js

.ad4m-test
ad4m-test-*