node_modules
*.js
*.js.map
hc-dna/.cargo
hc-dna/target
hc-dna/workdir/*.dna

!rollup.config.icons.js
!rollup.config.js
.ad4m-test
ad4m-test-0
ad4m-test.log

yarn-error.log

!dna.js

!rollup.config*
build/dna.js