/src/**/*.js
*.js.map
*.js
!executor/scripts/*.js
build/*
node_modules
!executor/src/rollup-plugin-hc-dna.js
executor/test-temp
executor/scripts/note-ipfs-hash
executor/scripts/perspective-diff-sync-hash
executorsrc/tests/publishing-agent/ad4m/data/db.json
.DS_Store

core/Links.test.js
core/lib/*
coverage
.DS_store
docs-src/api.md
docs-src/typedoc
docs-src/_book
