/src/**/*.js
*.js.map
*.js
!executor/scripts/*.js
build/*
node_modules
!executor/src/rollup-plugin-hc-dna.js
executor/src/tst-tmp
executor/scripts/note-ipfs-hash
executor/scripts/perspective-diff-sync-hash
executorsrc/tests/publishing-agent/ad4m/data/db.json
.DS_Store
tests/js/ad4m/users/*
core/Links.test.js
core/lib/*
executor/lib/*
coverage
.DS_store
docs-src/api.md
docs-src/typedoc
docs-src/_book
docs/out
host/dist
host/build

ui/build
ui/src-tauri/bins
ui/.pnp
.pnp.js

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.turbo

!rollup.config.js
!jest.config.js
!postinstall.js
!esbuild.js

cli/target
rust-client/target
target

tests/ad4m1
tests/ad4m2
/tests/ad4mJS

test-runner/.ad4m-test

temp

!removePnpm.js

.aider*

rust-executor/CUSTOM_DENO_SNAPSHOT.bin
rust-executor/test_data

.npmrc
docs-src/
