/src/**/*.js
*.js.map
*.js
!scripts/*.js
/build/*
/node_modules
!/src/rollup-plugin-hc-dna.js
test-temp
/scripts/note-ipfs-hash
/scripts/social-context-hash
src/tests/publishing-agent/ad4m/data/db.json