:root {
  --background-color: #131533;
}

.App {
  color: white;
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  background-color: var(--background-color);
  background-image: url("/bg01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
