body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slider__slide {
  text-align: center;
}

.slider__slide-content {
  max-width: 750px;
  min-width: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: var(--j-space-900);
}

:root {
  --j-color-saturation: 50%;

  --j-color-subtractor: 110%;
  --j-color-multiplier: -1;
  --j-border-width: 3px;

  background-color: var(--j-color-black) !important;
}

:root j-modal::part(modal) {
  box-shadow: 0px 0px 40px 20px
    hsla(var(--j-color-primary-hue), var(--j-color-saturation), 20%, 0.05);
}

:root j-tooltip::part(tooltip) {
  background: var(--j-color-ui-50);
  color: var(--j-color-black);
}

:root j-menu-item::part(base) {
  margin-top: var(--j-space-100);
  margin-left: var(--j-space-400);
  margin-right: var(--j-space-400);
  border-radius: 6px;
}

:root j-menu-item {
  --j-menu-item-color: hsl(var(--j-color-ui-hue), 0%, 70%);
}

:root j-menu-item:hover {
  --j-menu-item-bg: hsl(var(--j-color-ui-hue), 0%, 15%);
  --j-menu-item-color: hsl(var(--j-color-ui-hue), 0%, 70%);
}

:root j-menu-item[selected] {
  --j-menu-item-bg: hsl(var(--j-color-ui-hue), 0%, 15%);
  --j-menu-item-color: var(--j-color-black);
}

:root j-popover::part(content) {
  background: var(--j-color-ui-50);
  box-shadow: 0px 0px 40px 20px
    hsla(var(--j-color-primary-hue), var(--j-color-saturation), 20%, 0.05);
  border-radius: 6px;
  padding: 10px 0; 
}