body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--j-color-white);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --j-color-saturation: 50%;
  --j-color-subtractor: 100%;
  --j-color-multiplier: -1;
  --j-border-width: 3px;
  --start-color: #a4adff;
  --end-color: #d273ff;
  --j-scrollbar-width: 2px;
  --gradient: linear-gradient(90deg, var(--start-color), var(--end-color));
  --j-color-primary-50: hsl(610, 50%, calc((90% - 100%) * -1));
}

::-webkit-scrollbar {
  display: none;
}

:root j-button[variant="primary"]::part(base) {
  background: var(--gradient);
}

:root j-checkbox[checked]::part(toggle) {
  background: var(--gradient);
}

:root j-modal {
  padding-bottom: 0;
}

:root j-avatar::part(base) {
  border-radius: 4px;
}

:root j-modal::part(modal) {
  box-shadow: 0px 0px 40px 20px
    hsla(var(--j-color-primary-hue), var(--j-color-saturation), 20%, 0.05);
}

:root j-tooltip::part(tooltip) {
  background: var(--j-color-ui-50);
  color: var(--j-color-black);
}

:root j-text[ellipsis] {
  display: block;
  overflow: hidden;
  max-width: 100%;
}

:root j-text[ellipsis]::part(base) {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

:root j-popover::part(content) {
  background: var(--j-color-ui-50);
  box-shadow: 0px 0px 40px 20px
    hsla(var(--j-color-primary-hue), var(--j-color-saturation), 20%, 0.05);
  border-radius: 6px;
}

:root j-toggle::part(base) {
  cursor: pointer;
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  height: var(--j-toggle-size);
  align-items: center;
  gap: var(--j-space-400);
}

:root j-input.one-time-pass::part(input-field) {
  font-size: var(--j-font-size-800);
}

:root j-tabs::part(base) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 0;
  width: 100%;
  height: 48px;
  margin: 0;
  font-size: var(--j-font-size-200);
  border-radius: 0;
  border-bottom: 1px solid var(--j-color-ui-200);
}

j-tabs {
  z-index: 10;
  background-color: var(--j-color-white);
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
}

:root j-tab-item::part(base) {
  flex: 1;
  padding: 0 var(--j-space-400);
  font-size: var(--j-font-size-400);
}

j-tab-item {
  width: 100%;
  display: block;
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  height: 100vh;
}

.slider__slide {
  height: 100%;
  display: grid;
  place-items: center;
  padding-left: var(--j-space-500);
  padding-right: var(--j-space-500);
  padding-top: var(--j-space-1000);
  padding-bottom: var(--j-space-1000);
}

.slider__slide-content {
  height: 100%;
  width: 100%;
  max-height: 800px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--j-space-900);
  margin: 0 auto;
}

.slider__slide-content.center {
  height: auto;
}

.full-button {
  display: block;
  width: 100%;
}

.text-center {
  text-align: center;
}
