hc-dna/.cargo
hc-dna/target
hc-dna/tests/node_modules
hc-dna/workdir/direct-message-language.dna
hc-dna/workdir/ad4m-direct-message-language.happ

build/*

*.js
*.js.map
!*.config.js 
!rollup.config.hc-dna.js
!dna.js
!esbuild.js

node_modules
target

build/dna.js