version: 2.1

orbs:
  node: circleci/node@4.1.0
  go: circleci/go@1.3.0
  rust: circleci/rust@1.0.0

jobs:
  test-linux:
    parameters:
      node-version:
        type: string
        default: "16.x"
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - rust/install:
          version: "1.73.0"
      - go/install:
          version: "1.20"
      - node/install:
          node-version: << parameters.node-version >>
      - run:
          name: Install system dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf protobuf-compiler cmake
      - run:
          name: Install HC
          command: cargo install holochain_cli --version 0.3.0-beta-dev.27 || echo "hc already installed"
      - run:
          name: Install dependencies
          command: pnpm install --no-frozen-lockfile
      - run:
          name: Build the workspace
          command: pnpm run build
      - run:
          name: Run the tests
          command: pnpm test
      - run:
          name: Run integration tests
          command: cd ./tests/js && pnpm run test-main

workflows:
  version: 2
  build-and-test:
    jobs:
      - test-linux:
          matrix:
            parameters:
              node-version: ["16.x"]



# This config was automatically generated from your source code
# Stacks detected: cicd:github-actions:.github/workflows,deps:node:.,deps:rust:.
# version: 2.1
# orbs:
#   node: circleci/node@5
# jobs:
#   test-node:
    # Install node dependencies and run tests
#     executor: node/default
#     steps:
#       - checkout
#       - node/install-packages:
#           pkg-manager: npm
#       - run:
#           name: Print node install help instructions
#           command: |-
#             echo "One cause for node package install failure is if you have private repositories that it can't reach
#             One way to fix this for private npm packages:
#               1. Use the npm CLI's \"login\" command to create a token (usually saved in your user's \"~/.npmrc\" file)
#                 For more info, see https://circleci.com/blog/publishing-npm-packages-using-circleci-2-0/#:~:text=set%20the%20%24npm_token%20environment%20variable%20in%20circleci
#               2. Add a NPM_TOKEN to an org context
#                 For info on how to use contexts, see https://circleci.com/docs/contexts/
#               3. Add a .circleci/config.yml to your repository or use this config.yml as a starting template
#               4. Configure the jobs to use the context that includes NPM_TOKEN
#               5. Add a step to inject your NPM_TOKEN environment variable into npm before \"install-packages\"
#                 For an example, see https://circleci.com/blog/publishing-npm-packages-using-circleci-2-0/#:~:text=the%20deploy%20job%20has%20several%20steps%20that%20run%20to%20authenticate%20with%20and%20publish%20to"
#           when: on_fail
#       - run:
#           name: Run tests
#           command: npm test --passWithNoTests
#   build-node:
    # Build node project
#     executor: node/default
#     steps:
#       - checkout
#       - node/install-packages:
#           pkg-manager: npm
#       - run:
#           name: Print node install help instructions
#           command: |-
#             echo "One cause for node package install failure is if you have private repositories that it can't reach
#             One way to fix this for private npm packages:
#               1. Use the npm CLI's \"login\" command to create a token (usually saved in your user's \"~/.npmrc\" file)
#                 For more info, see https://circleci.com/blog/publishing-npm-packages-using-circleci-2-0/#:~:text=set%20the%20%24npm_token%20environment%20variable%20in%20circleci
#               2. Add a NPM_TOKEN to an org context
#                 For info on how to use contexts, see https://circleci.com/docs/contexts/
#               3. Add a .circleci/config.yml to your repository or use this config.yml as a starting template
#               4. Configure the jobs to use the context that includes NPM_TOKEN
#               5. Add a step to inject your NPM_TOKEN environment variable into npm before \"install-packages\"
#                 For an example, see https://circleci.com/blog/publishing-npm-packages-using-circleci-2-0/#:~:text=the%20deploy%20job%20has%20several%20steps%20that%20run%20to%20authenticate%20with%20and%20publish%20to"
#           when: on_fail
#       - run:
#           command: npm run build
#       - run:
#           name: Create the ~/artifacts directory if it doesn't exist
#           command: mkdir -p ~/artifacts
#       # Copy output to artifacts dir
#       - run:
#           name: Copy artifacts
#           command: cp -R build dist public .output .next .docusaurus ~/artifacts 2>/dev/null || true
#       - store_artifacts:
#           path: ~/artifacts
#           destination: node-build
#   test-rust:
#     docker:
#       - image: cimg/rust:1.70
#     steps:
#       - checkout
#       - restore_cache:
#           key: cargo-{{ checksum "Cargo.lock" }}
#       - run:
#           command: cargo test
#       - save_cache:
#           key: cargo-{{ checksum "Cargo.lock" }}
#           paths:
#             - ~/.cargo
#   deploy:
    # This is an example deploy job, not actually used by the workflow
#     docker:
#       - image: cimg/base:stable
#     steps:
      # Replace this with steps to deploy to users
#       - run:
#           name: deploy
#            command: '#e.g. ./deploy.sh'
#       - run:
#           name: found github actions config
#           command: ':'
# workflows:
#   build-and-test:
#     jobs:
#       - test-node
#       - build-node:
#           requires:
#             - test-node
#             - test-rust
#       - test-rust
    # - deploy:
    #     requires:
    #       - build-node
