name: AD4M components

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  test:
    name: Test

    strategy:
      matrix:
        platform: [ubuntu-22.04]
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Cache cargo
      id: cache-cargo
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo
    - run: rustup target add wasm32-unknown-unknown

    - name: Install dependencies
      run: yarn install
      
    - name: Run the tests
      run: yarn test

  test-windows:
    name: Test
    runs-on: windows-2019
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.63.0
      - name: Cache cargo
        id: cache-cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('./holochain_version.nix') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ hashFiles('./holochain_version.nix') }}
            ${{ runner.os }}-cargo
      - run: rustup target add wasm32-unknown-unknown

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Run the tests
        run: |
          choco install swi-prolog
          $env:path += ";C:\Program Files\swipl\bin"
          yarn run test:windows
